@font-face {
  font-family: "Arita-dotum-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeferiPoint-SpecialItalicA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

header h1 {
  font-family: "LeferiPoint-SpecialItalicA";
}

* {
  font-family: "Arita-dotum-Medium";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fa-solid.fa-arrow-left,
.fa-solid.fa-paper-plane {
  font-size: 2rem;
}

header {
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #96aed0;
  padding: 1rem 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "profileImg"
    "profileContent";
}

main section {
  height: 100%;
}

img {
  grid-area: mainImg;
  width: 100%;
  object-fit: cover;
}

.profileContent {
  display: grid;
  grid-template-columns: minmax(20%, auto);
  grid-template-rows: 1.8fr 0.4fr 0.4fr 1.6fr 0.4fr 1.7fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "upper"
    "state"
    "title01"
    "content01"
    "title02"
    "content02";
}

.upper {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "image upperside";
  grid-area: upper;
}

.upperside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "myInfo"
    "contact";
  grid-area: upperside;
}

.myInfo {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "left center right";
  grid-area: myInfo;
}

.left {
  grid-area: left;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "contact01"
    "contact02";
  grid-area: contact;
}

.contact01 {
  grid-area: contact01;
}

.contact02 {
  grid-area: contact02;
}

.image {
  grid-area: image;
}

.state {
  grid-area: state;
}

.title01 {
  grid-area: title01;
}

.title02 {
  grid-area: title02;
}

.content01 {
  grid-area: content01;
}

.content02 {
  grid-area: content02;
}

a {
  padding: 0.25rem 0.5rem;
  border-radius: 5%;
  text-decoration: none;
  color: white;
  background-color: pink;
  font-size: smaller;
}

a:hover {
  color: pink;
}
footer {
  border-top: 1px solid #96aed0;
  margin-top: 10px;
}
