.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}

span {
  cursor: pointer;
  width: 100px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 2;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
